footer#center{
  bottom: 0;
  position: absolute;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  margin-bottom: 2%;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

div.box{
    width: 290px;
    height: 360px;
    margin: 10% auto auto;
    border: 1px solid #9e9b97;
    border-radius: 20px;
    box-shadow: 0px 5px 5px #838381, inset -2px -8px 10px 0px #c1b9b8;
    //-5 would be the bottom;
}

div.screen{
    width: 248px;
    height: 65px;
    margin: 28px 25px 17px 20px;
    border: 1px solid #9e9b97;
    border-radius: 7px;
    background:#c7d3c5 ;
}

.btn{
  font-family: 'Montserrat', sans-serif;
  margin: 5px;
  width: 50px;
  height: 35px;
  border: 0px solid black;
  box-shadow: 1.5px 2.5px #757a75, inset 0px 0px 0px 0.5px #c1b9b8;
}

.btn-dark{
    margin: 11px 9px;
    position: absolute;
    height: 70px;
}

.input-line{
    font-size: 25px;
    margin: 5px;
    height: 30px;
    text-align: right;
}

.output-line{
    margin: 5px;
    font-size: 15px;
    text-align: right;
}

.btn:focus {
    box-shadow: 1.5px 2.5px #757a75, inset 0px 0px 0px 0.5px #c1b9b8 !important;
//    box-shadow: none !important;
}
.btn:active {
  transform: translateY(4px);
}
.bth:hover{
    background: grey !important;
}
