footer#center{
  bottom: 0;
  position: absolute;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
//  background: #2000;
  margin-bottom: 2%;
}

html{
  text-align: center;
  margin-top: 3%;
}

footer>a{
  width: 30%;
  color: black;
  text-align: center;
}

h1{
  font-family: 'Boogaloo';font-size: 40px;
  color: #643000;
}
h2{
  //like this font;
  font-family: 'Pompiere';font-size: 20px;
}

table.center{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  //aha,have to use class then it works.
  //center now!
  //got to manage test it later.
}

th{
  border-bottom: solid 1px;
  margin: auto;
}

button,
button:active,
button:focus {
  background: #630000;
  border-radius: 5px;
  color: #fff;
  margin: 3px 10px;
  padding: 10px;
  width: 70px;
}
button{
  outline: none;
  border: none;
}


i{
  margin-bottom: 5px;
}
/* modal background */
.modal{
  position: fixed;
  z-index: 1;
  margin-left: 30%;
  margin-right: 30%;
  width: 40%; /* for center the modal */
  height:120px;
  background-color: #fff;
  border: solid 1px black;
  text-align: center;
  display: block;
  /* too ugly --! */
  /* background-color: rgba(117, 25, 25, 0.2); */
  /* background-color:rgba(#410f07, 0.5); */
  /* better use rgb to transparent the color  */
}

/* modal content */
.modal-content{
  padding: 10px 0;
  //height: 10%;
  margin-left: auto;
  margin-right: auto;
}
